<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>HW2</title>

  <link rel="stylesheet" type="text/css" href="css/header.css">
  <link rel="stylesheet" type="text/css" href="css/common.css">
</head>
<body>
<div th:include="header :: template"></div>
<div class="center-body">
  <h1>Add product</h1>
  <form th:if="${user} != null" action="/addProduct" method="post">
    <p>Name</p>
    <input type="text" name="name">

    <p>Description</p>
    <textarea name="description"></textarea>

    <p th:text="'Price (' + ${user.currency} + ')'"></p>
    <input type="text" name="price">
    <br>
    <button type="submit">Add</button>
  </form>
</div>
</body>
</html>