#header {
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;

    text-align: center;
}

#footer {
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;

    text-align: center;
}

input[type=submit] {
    padding: 5px 15px;
    background: #eeeeee;
    border: 1px solid black;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

textarea {
    resize: none;
}

p {
    margin: 10px;
}