.todo-task {
    border-bottom: 1px solid black;

    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.task-info {
    padding-left: 30px;
}

.todo-task-description {
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.check-uncheck-delete-button {
    display: inline-flex;
    right: 0;
    padding-right: 30px;
}

.delete {
    margin-left: 10px;
}

.checked {
    background: #adff98;
}